body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('../img/background-picture/background-body.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Rye';
}

h1 {
    font-size: 100px;
}

canvas {
    background-color: black;
    display: block;
}

.mute-btn-container {
    position: absolute;
    top: 64px;
    right: 64px;
}

.mute-btn {
    height: 75px;
    width: 75px;
    font-family: 'Rye';
    font-size: 20px;
    background-color: brown;
    border-radius: 100%;
    border: none;
    color: #fff;
}

.mute-btn:hover {
    color: #000;
}

.mobile-controls {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.mobile-control-btn {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin: 0 16px 0 16px;
    border: none;
    background-color: brown;
}

.startscreen_endscreen {
    height: 720px;
    width: 1080px;
}

.start_btn {
    border: none;
    margin: 64px;
    font-size: 48px;
    font-family: 'Rye';
    padding: 16px;
    border-radius: 10px;
    color: #fff;
    background-color: brown;
}

.start_btn:hover {
    color: #000;
}

.hide{
    display: none;
}

@media (min-width: 1080px){
    .hide-large{
        display: none;
    }
}

/* Media queries */

@media only screen and (max-width: 1080px){
    .hide-small{
        display: none;
    }

    body {
        background-image: none;
    }
    .startscreen_endscreen {
        width: 100%;
        height: 100vh;
    }

    .mobile-controls {
        position: absolute;
        bottom: 0;
    }

    .start_btn {
        border: none;
        margin: 16px;
        font-size: 24px;
        font-family: 'Rye';
        padding: 12px;
        border-radius: 10px;
        color: #fff;
        background-color: brown;
        position: absolute;
        top: 0;
    }

    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 720px){
    canvas {
        height: 100vh;
    }
}